{% extends "layout.html" %}

{% block title %}
更改個人資料
{% endblock %}
{% block content %}
<div class="container">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col-2 themed-grid-col">舊密碼：</div>
            <div class="col-4 themed-grid-col">
                <input class="form-control" type="password" name="password">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 themed-grid-col">新密碼：</div>
            <div class="col-4 themed-grid-col">
                <input class="form-control" type="password" name="newpassword">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 themed-grid-col">確認新密碼：</div>
            <div class="col-4 themed-grid-col">
                <input class="form-control" type="password" name="newpassword_check">
            </div>
        </div>
        <input class="btn btn-outline-primary" type="submit" name="editPassword" value="確認">
    </form>
    <hr>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col-2 themed-grid-col">姓名：</div>
            <div class="col-4 themed-grid-col">
                <input class="form-control" type="text" name="name">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 themed-grid-col">帳號：</div>
            <div class="col-4 themed-grid-col">
                <input class="form-control" type="text" name="username">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 themed-grid-col">email：</div>
            <div class="col-4 themed-grid-col">
                <input class="form-control" type="text" name="email">
            </div>
        </div>
        <input class="btn btn-outline-primary" type="submit" name="editInfo" value="確認">
    </form>
</div>
{% endblock %}