{% extends "layout.html" %}

{% block title %}
忘記密碼
{% endblock %}
{% block content %}
<div class="container">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col-2 themed-grid-col">帳號：</div>
            <div class="col-4 themed-grid-col">
                <input class="form-control" type="text" name="username">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 themed-grid-col">畢業年份：</div>
            <div class="col-4 themed-grid-col">
                <input class="form-control" type="number" name="graduateLevel">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 themed-grid-col">註冊的email：</div>
            <div class="col-4 themed-grid-col">
                <input class="form-control" type="text" name="email">
            </div>
        </div>
        <input class="btn btn-outline-primary" type="submit" value="確認">
    </form>
</div>
{% endblock %}