{% extends "layout.html" %}

{% block title %}
登入
{% endblock %}
{% block content %}
<div class="container">
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col-2 themed-grid-col"><h1>帳號：<h1></div>
            <div class="col-4 themed-grid-col">
                <input class="form-control" type="text" name="username" id="username">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 themed-grid-col"><h1>密碼：</h1></div>
            <div class="col-4 themed-grid-col">
                <input class="form-control" type="password" name="password" id="password">
            </div>
        </div>
        <input class="btn btn-outline-primary" type="submit" value="登入">
    </form>
    <a href="{% url 'Signin' %}" class="btn btn-outline-primary">註冊</a>
    <a href="{% url 'ForgetPassword' %}" class="btn btn-outline-primary">忘記密碼</a>
</div>
{% endblock %}