{% extends "layout.html" %}

{% block title %}
註冊
{% endblock %}
{% block content %}
<div class="container">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col-2 themed-grid-col">姓名：</div>
            <div class="col-4 themed-grid-col">
                <input class="form-control" type="text" name="name">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 themed-grid-col">帳號：</div>
            <div class="col-4 themed-grid-col">
                <input class="form-control" type="text" name="username" placeholder="請輸入學號(U/G/M + 8碼數字)">
            </div>
            {% if form.username.errors %}
                <div class="error">{{ form.username.errors }}</div>
            {% endif %}
        </div>
        <div class="row mb-3">
            <div class="col-2 themed-grid-col">密碼：</div>
            <div class="col-4 themed-grid-col">
                <input class="form-control" type="password" name="password">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 themed-grid-col">email：</div>
            <div class="col-4 themed-grid-col">
                <input class="form-control" type="text" name="mail">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 themed-grid-col">畢業年份：</div>
            <div class="col-4 themed-grid-col">
                <input class="form-control" type="number" name="graduateLevel" placeholder="民國入學年+4">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 themed-grid-col">學制：</div>
            <div class="col-4 themed-grid-col">
                <select type = "Select" name="identity" class="form-control">
                    <option value = 0>大學部</option>
                    <option value = 2>日間碩士班</option>
                    <option value = 2>碩士在職專班</option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 themed-grid-col">系所：</div>
            <div class="col-4 themed-grid-col">
                <select type = "Select" name="department" class="form-control">
                    <option value = 0>資訊科學系</option>
                    <option value = 1>外系</option>
                </select>
            </div>
        </div>
        <input class="btn btn-outline-primary" type="submit" value="註冊">
    </form>
</div>
{% endblock %}