{% extends "layout.html" %}

{% block title %}
註冊
{% endblock %}
{% block content %}
<div class="container">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col-2 themed-grid-col">姓名：</div>
            <div class="col-4 themed-grid-col">
                <input class="form-control" type="text" name="name">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 themed-grid-col">帳號：</div>
            <div class="col-4 themed-grid-col">
                <input class="form-control" type="text" name="username" placeholder="請輸入學號(U/G/M + 8碼數字)">
            </div>
            {% if form.username.errors %}
                <div class="error">{{ form.username.errors }}</div>
            {% endif %}
        </div>
        <div class="row mb-3">
            <div class="col-2 themed-grid-col">密碼：</div>
            <div class="col-4 themed-grid-col">
                <input class="form-control" type="password" name="password">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 themed-grid-col">密碼確認：</div>
            <div class="col-4 themed-grid-col">
                <input class="form-control" type="password" name="passwordCheck">
            </div>
        </div>
        <input class="btn btn-outline-primary" type="submit" value="註冊">
    </form>
</div>
{% endblock %}