{% extends 'layout.html' %}
{% block title %}{{ license.name }}{% endblock %}

{% block content %}
    <div class="container" style="display: flex">
        <form method="POST" action="">
        {% csrf_token %}
            <div class="container" style="flex: 1;">
                {{ form.as_p }}
                <input type="submit" class="btn btn-primary" value="通過" name="pazz">
                <input type="submit" class="btn btn-danger" value="未通過" name="fail">
            </div>
        </form>
        <div class="container" style="flex: 1;">
            <a href="{{ license.image.url }}" target="picture">
                <img src="{{ license.image.url }}" style="width: 120%; height: 120%; cursor: zoom-in; max-width: 1400px; max-height: 1000px">
            </a>
        </div>
    </div>
{% endblock %}