{% extends "layout.html" %}
{% block title %}借閱申請{% endblock %}

{% block content %}
    <form method = "GET">
        {% csrf_token %}
        姓名:<input type = "search" name = "name" placeholder = "">
        學號:<input type = "search" name = "username" placeholder = "">
        借閱狀況:
        <select class = "select" name = "state">
            <option></option>
            <option value = 0 {% if state == 0 %} selected="selected" {% endif %}>已預約</option>
            <option value = 1 {% if state == 1 %} selected="selected" {% endif %}>已借閱</option>
            <option value = 2 {% if state == 2 %} selected="selected" {% endif %}>已歸還</option>
        </select> 
    
        <input type="submit" class="btn btn-primary" name = "search" value="篩選" />
    </form>

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">借閱人姓名</th>
                    <th scope="col">名稱</th>
                    <th scope="col">條碼</th>
                    <th scope="col">作者</th>
                    <th scope="col">指導教授</th>
                    <th scope="col">作者學籍</th>
                    <th scope="col">預約時間</th>
                    <th scope="col">借用時間</th>
                    <th scope="col">承辦人</th>
                    <th scope="col">動作</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in object_list %}
                    <tr>
                        <td>{{ booking.user.name }}</td>
                        <td>{{ booking.paper.project.name }}</td>
                        <td>{{ booking.paper.barCode }}</td>
                        <td>{{ booking.paper.project.user.name }}</td>
                        <td>{{ booking.paper.project.professor }}</td>
                        <td>{{ booking.paper.project.get_type_display }}</td>
                        <td>{{ booking.bookingDate | date:'Y-m-d H:i' }}</td>
                        <td>{{ booking.takingDate | date:'Y-m-d H:i' }}</td>
                        <td>{{ booking.underTaker }}</td>
                        {% if booking.state == 0 %}
                            <td><button class="btn btn-outline-primary">已預約</button></td>
                        {% elif booking.state == 1 %}
                            <td><button class="btn btn-primary">已借閱</button></td>
                        {% else %}
                            <td><button class="btn btn-danger">已歸還</button></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <p style="text-align:center">
        {% for page_number in object_list.paginator.page_range %}
          {% ifequal page_number  booking.number %}
            <button class="btn btn-outline-primary">{{ page_number }}</button>
          {% else %}
            <a href="?page={{ page_number }}" class="btn btn-primary">{{ page_number }}</a>
          {% endifequal %}
        {% endfor %}
    </p>
{% endblock %}