{% extends 'layout.html' %}
{% block title %}專題報告書&論文列表{% endblock %}

{% block content %}
<form method = "GET">
    {% csrf_token %}
    姓名:<input type = "search" name = "username" placeholder = "">
    類型:
    <select class = "select" name = "type">
        <option value = -1></option>
        <option value = 0 {% if type == 0 %} selected="selected" {% endif %}>日間碩士班</option>
        <option value = 1 {% if type == 1 %} selected="selected" {% endif %}>碩士在職專班</option>
        <option value = 2 {% if type == 2 %} selected="selected" {% endif %}>大學部</option>
    </select> 
    指導教授:<input type = "search" name = "professor" placeholder = "">
    
    <input type="submit" class="btn btn-primary" name = "search" value="篩選" />
</form>

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">姓名</th>
                    <th scope="col">專題名稱</th>
                    <th scope="col">學制</th>
                    <th scope="col"></th>
                    <th scope="col">指導教授</th>
                    <th scope="col">借閱</th>
                </tr>
            </thead>
            <tbody>
                {% for paper in paper %}
                    <tr>
                        <td>{{ paper.username }}</td>
                        <td>{{ paper.name }}</td>
                        <td>{{ paper.get_type_display }}</td>
                        <td></td>
                        <td>{{ paper.professor }}</td>
                        <td><a href="{% url 'BookingProject' pk=paper.id %}" class="btn btn-primary">借閱</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <p style="text-align:center">
        {% for page_number in paper.paginator.page_range %}
          {% ifequal page_number  paper.number %}
            <button class="btn">{{ page_number }}</button>
          {% else %}
            <a href="?page={{ page_number }}" class="btn btn-primary">{{ page_number }}</a>
          {% endifequal %}
        {% endfor %}
    </p>
{% endblock %}