{% extends 'layout.html' %}
{% block title %}{% endblock %}

{% block content %}
<form method="POST" action="">
    {% csrf_token %}
    <div class="container">
        <font Size="10">
            姓名:{{ license.username }}<br>
            證照名稱:{{ license.name }}<br>
            取得日期:{{ license.acqDate }}<br>
            證照級別:{{ license.get_level_display }}<br>
            審核:{{ license.get_pazz_display }}<br>
        </font>
    <input type="submit" class = "btn btn-danger" value="刪除"><br>
    </div>
</form>
{% endblock %}