{% extends "layout.html" %}
{% block title %}{% endblock %}

{% block content %}

<form method = "POST">
    {% csrf_token %}
    姓名:<input type = "search" name = "q" placeholder = "">
    級別:
    <select class = "select" name = "level">
        <option value = 'A' {% if level == 'A' %} selected="selected" {% endif %}>A</option>
        <option value = 'B' {% if level == 'B' %} selected="selected" {% endif %}>B</option>
    </select> 
    審核:
    <select class = "select" name = "pazz">
        <option value = 1 {% if pazz == 1 %}selected{% endif %}>通過</option>
        <option value = 2 {% if pazz == 2 %}selected{% endif %}>未通過</option>
    </select>
    <input type="submit" class="btn btn-primary" name = "search" value="查詢" />
    <input type="submit" class="btn btn-primary" name = "export" value="匯出" />
</form>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">姓名</th>
                    <th scope="col">學號</th>
                    <th scope="col">證照級別</th>
                    <th scope="col">證照名稱</th>
                    <th scope="col">審核</th>
                    <th scope="col">檢視</th>
                </tr>
            </thead>
            <tbody>
                {% for license in license %}
                    <tr>
                        <td>{{ license.username }}</td>
                        <td>{{ license.owner.username }}</td>
                        <td>{{ license.level }}</td>
                        <td>{{ license.name }}</td>
                        <td>{{ license.get_pazz_display }}</td>
                        <td><a href="{% url 'AuditLicense' pk=license.id %}"class="btn btn-primary">檢視</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}