{% extends "layout.html" %}
{% block title %}專題報告書總覽{% endblock %}

{% block content %}

<form method = 'POST'>
    {% csrf_token %}
    姓名:<input type = "search" name = "username" placeholder = "" style="width: 150px;">
    指導教授:<input type = "search" name = "professor" placeholder = "" style="width: 150px;">
    入學年:<input type = "search" name = "enrollYear" placeholder="">
    領域:
    <select class = "select" name = "field">
        <option></option>
        <option value = '0' {% if level == '0' %} selected="selected" {% endif %}>軟體開發及程式設計</option>
        <option value = '1' {% if level == '1' %} selected="selected" {% endif %}>網路及多媒體應用</option>
        <option value = '2' {% if level == '2' %} selected="selected" {% endif %}>系統及演算法開發</option>
    </select>
    <br><br>
    <input type="submit" class="btn btn-primary" name = "search" value="查詢" />
    <input type="submit" class="btn btn-primary" name = "export" value="匯出" />
    <input type="submit" class="btn btn-primary" name="download_selected" value="下載選擇的海報" />
    <input type="submit" class="btn btn-primary" name = "download" value="全部下載" />
</form>
<br>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">姓名</th>
                    <th scope="col">學號</th>
                    <th scope="col">學制</th>
                    <th scope="col">指導教授</th>
                    <th scope="col">入學年</th>
                    <th scope="col">專題名稱</th>
                    <th scope="col">海報</th>
                </tr>
            </thead>
            <tbody>
                {% for project in project %}
                    <tr>
                        <td>{{ project.user.name }}</td>
                        <td>{{ project.user.username }}</td>
                        <td>{{ project.user.get_identity_display }}</td>
                        <td>{{ project.professor }}</td>
                        <td>{{ project.user.get_enrollYear }}</td>
                        {% if project.report %}
                            <td><a href="{{ project.report.url }}" target="_blank">{{ project.name }}</a></td>
                        {% else %}
                            <td>{{ project.name }}</td>
                        {% endif %}
                        {% if project.poster %}
                            <td><a href="{{ project.poster.url }}" target="_blank">海報下載</a></td>
                        {% endif %}

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <p style="text-align:center">
        {% for page_number in project.paginator.page_range %}
          {% ifequal page_number  project.number %}
            <button class="btn btn-outline-primary">{{ page_number }}</button>
          {% else %}
            <a href="?page={{ page_number }}" class="btn btn-primary">{{ page_number }}</a>
          {% endifequal %}
        {% endfor %}
    </p>
{% endblock %}