{% extends "layout.html" %}
{% block title %}{% endblock %}

{% block content %}
<form method = 'GET'>
    姓名:<input type = "search" name = "q" placeholder = "">
    級別:
    <select class = "select" name = "level">
        <option value = ''></option>
        <option value = 'A'>A</option>
        <option value = 'B'>B</option>
    </select> 
    審核:
    <select class = "select" name = "pass">
        <option></option>
        <option value = 1>通過</option>
        <option value = 2>未通過</option>
    </select>
    <input type="submit" class="btn btn-primary" name = "search" value="查詢" />
</form>
<form method = 'POST'>
    {% csrf_token %}
    姓名:<input type = "search" name = "q" placeholder = "">
    級別:
    <select class = "select" name = "level">
        <option value = ''></option>
        <option value = 'A'>A</option>
        <option value = 'B'>B</option>
    </select> 
    審核:
    <select class = "select" name = "pass">
        <option></option>
        <option value = 1>通過</option>
        <option value = 2>未通過</option>
    </select>
    <input type="submit" class="btn btn-primary" name = "export" value="匯出" />
</form>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">姓名</th>
                    <th scope="col">學號</th>
                    <th scope="col">證照級別</th>
                    <th scope="col">證照名稱</th>
                    <th scope="col">審核</th>
                    <th scope="col">檢視</th>
                </tr>
            </thead>
            <tbody>
                {% for license in license %}
                    {% if license.license_pass != 0 %}
                        <tr>
                            <td>{{ license.license_username }}</td>
                            <td>{{ license.license_owner.username }}</td>
                            <td>{{ license.license_level }}</td>
                            <td>{{ license.license_name }}</td>
                            <td>{{ license.get_license_pass_display }}</td>
                            <td><a href="{% url 'AuditLicense' pk=license.id %}"class="btn btn-primary">檢視</a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}