{% extends "layout.html" %}
{% block title %}計畫發表總覽{% endblock %}

{% block content %}

<form method = 'POST'>
    {% csrf_token %}
    姓名:<input type = "search" name = "username" placeholder = "" style="width: 150px;">
    指導教授:<input type = "search" name = "professor" placeholder = "" style="width: 150px;">
    入學年:<input type = "search" name = "enrollYear" placeholder="">
    學制:
    <select class = "select" name = "type">
        <option></option>
        <option value = '2' {% if level == '1' %} selected="selected" {% endif %}>日間碩士班</option>
        <option value = '3' {% if level == '2' %} selected="selected" {% endif %}>碩士在職專班</option>
    </select>
    <input type="submit" class="btn btn-primary" name = "search" value="查詢" />
    <input type="submit" class="btn btn-primary" name = "export" value="匯出" />
    <input type="submit" class="btn btn-primary" name = "download" value="全部下載" />
</form>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">姓名</th>
                    <th scope="col">學號</th>
                    <th scope="col">學制</th>
                    <th scope="col">指導教授</th>
                    <th scope="col">入學年</th>
                    <th scope="col">計畫發表題目</th>
                    <th scope="col">狀態</th>
                    <th scope="col">取消申請表</th>
                </tr>
            </thead>
            <tbody>
                {% for proposal in proposal %}
                    <tr>
                        <td>{{ proposal.user.name }}</td>
                        <td>{{ proposal.user.username }}</td>
                        <td>{{ proposal.user.get_identity_display }}</td>
                        <td>{{ proposal.professor }}</td>
                        <td>{{ proposal.user.get_enrollYear }}</td>
                        <td>{{ proposal.name}}</td>
                        {% if proposal.state == 0 %}
                            <td><button class="btn btn-primary">{{ proposal.get_state_display }}</button></td>
                        {% else %}
                            <td><button class="btn btn-danger">{{ proposal.get_state_display }}</button></td>
                            <td><a href="{{ proposal.cancelapplication.url }}" target="_blank" class="btn btn-warning">下載</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <p style="text-align:center">
        {% for page_number in project.paginator.page_range %}
          {% ifequal page_number  project.number %}
            <button class="btn btn-outline-primary">{{ page_number }}</button>
          {% else %}
            <a href="?page={{ page_number }}" class="btn btn-primary">{{ page_number }}</a>
          {% endifequal %}
        {% endfor %}
    </p>
{% endblock %}