{% extends 'layout.html' %}

{% block title %}領取報告書{% endblock %}

{% block content %}
    <div class="container"><br>
        <form method="POST" action="" id="barCodeForm">
            {% csrf_token %}
            掃描報告書條碼:<input type="text" name="barCode" id="barCode" class="form-control"></br>
            <input type="submit" class="btn btn-primary" value="領取"></input><br><hr>
        </form>
        <script>
            const barCodeInput = document.getElementById('barCode');
            const barCodeForm = document.getElementById('barCodeForm');
        
            barCodeInput.addEventListener('blur', event => {
                if(barCodeInput.length == 15){
                    barcodeForm.submit();
                }
            });
        </script>
    </div>

    <div class="container">
        已借閱的書籍：<br>
        {% for booking in booking %}
            {{ booking.paper.name }}<br>
        {% endfor %}
    </div>

{% endblock %}