{% extends "layout.html" %}
{% block title %}{{ student.name }}的資訊{% endblock %}

{% block content %}

    <form method = "POST">
        {% csrf_token %}
        <div>
            姓名:<br>
            <input type="text" name="name" value="{{ student.name }}" class="form-control">
        </div>
        <div>
            學號:<br>
            <input type="text" name="username" value="{{ student.username }}" class="form-control">
        </div>
        <div>
            密碼:<br>
            <input type="password" name="password" class="form-control">
        </div>
        <div>
            身份:
            <select name="identity" value="{{ student.identity }}" class="form-control">
                <option value=0>學士</option>
                <option value=1>管理員</option>
                <option value=2>日間碩士班</option>
                <option value=3>碩士在職專班</option>
            </select>
        </div><br>
        <div>
            <input type="submit" class="btn btn-primary"value="修改">
        </div>
    </form>

{% endblock %}