{% extends "layout.html" %}
{% block title %}{% endblock %}

{% block content %}

<form method = "GET">
    {% csrf_token %}
    姓名:<input type = "search" name = "q1" placeholder = "">
    學號:<input type = "search" name = "q2" placeholder = "">

    <input type="submit" class="btn btn-primary" name="search" value="搜尋" />
</form>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">姓名</th>
                <th scope="col"></th>
                <th scope="col">學號</th>
                <th scope="col"></th>
                <th scope="col">畢業級</th>
                <th scope="col">編輯</th>
            </tr>
        </thead>
        <tbody>
            {% for student in object_list %}
                <tr>
                    <td>{{ student.name }}</td>
                    <td></td>
                    <td>{{ student.username }}</td>
                    <td></td>
                    <td>{{ student.get_graduate_year }}</td>
                    <td><a href="{% url 'ModifyStudentInfo' pk=student.id%}" class="btn btn-primary">編輯</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<p style="text-align:center">
    {% for page_number in object_list.paginator.page_range %}
      {% ifequal page_number  object_list.number %}
        <button class="btn btn-outline-primary">{{ page_number }}</button>
      {% else %}
        <a href="?page={{ page_number }}" class="btn btn-primary">{{ page_number }}</a>
      {% endifequal %}
    {% endfor %}
</p>

{% endblock %}