{% extends 'layout.html' %}
{% block title %}{{ license.name }}{% endblock %}

{% block content %}
<br><br><br><br><br><br><br>
    <div class="container;center" align="center" style="font-size: larger;">
        <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
            上傳取消申請表掃描檔：<br><br><br><br>
            <input type="file" class="form-control" style="width: 400px" name="cancelApplication"><br>
            <input type="submit" class="btn btn-primary">
        </form>
        
    </div>
{% endblock %}