{% extends "layout.html" %}
{% block title %}已上傳的資料{% endblock %}

{% block content %}
<div class="container">
    <table class="table">
        <thead>
            <th>論文名稱</th>
            <th>指導教授</th>
            <th>學制</th>
            <th>計畫發表/學位考試</th>
            <th>發表日期</th>
            <th>編輯</th>
            <th>狀態</th>
            <th>取消</th>
        </thead>
        <tbody>
            {% for proposal in proposal %}
                <tr>
                    <td>{{ proposal.name }}</td>
                    <td>{{ proposal.professor }}</td>
                    <td>{{ proposal.user.get_identity_display }}</td>
                    <td>計畫發表</td>
                    <td>{{ proposal.postDate | date:'Y-m-d' }}</td>
                    {% if proposal.state == 0 %}
                        <td><a href="{% url 'EditProposal' pk=proposal.id%}"  class="btn btn-outline-primary">編輯</a></td>
                        <td><button class="btn btn-primary">已申請</button></td>
                    {% elif proposal.state == 1 %}
                        <td></td>
                        <td><button class="btn btn-danger">已取消</button></td>
                    {% endif %}
                    {% if not editable %}
                        <td><a href="{% url 'UploadCancel' pk='proposal' %}" class="btn btn-danger">取消申請</a></td>
                    {% endif %}
                </td>
            {% endfor %}
            {% for final in final %}
                <tr>
                    <td>{{ final.name }}</td>
                    <td>{{ final.professor }}</td>
                    <td>{{ final.user.get_identity_display }}</td>
                    <td>學位考試</td>
                    <td>{{ final.postDate | date:'Y-m-d' }}</td>
                    {% if final.state == 1 %}
                        <td><a href="{% url 'EditFinal' pk=final.id%}" class="btn btn-outline-primary">編輯</a></td>
                        <td><button class="btn btn-primary">已申請</button></td>
                        <td><a href="{% url 'UploadCancel' pk='final' %}" class="btn btn-danger">取消申請</a></td>
                    {% elif final.state == 2 %}
                        <td></td>
                        <td><button class="btn btn-danger">已取消</button></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}