{% extends "layout.html" %}
{% block title %}已上傳的證照{% endblock %}

{% block content %}
    <div class="container">
        <table class="table">
            <thead>
                <th>證照名稱</th>
                <th>證照級別</th>
                <th>取得日期</th>
                <th>審核</th>
                <th></th>
            </thead>
            <tbody>
                {% for license in license %}
                <tr>
                    <td>{{ license.name }}</td>
                    <td>{{ license.level }}</td>
                    <td>{{ license.acqDate }}</td>
                    {% if license.pazz == 0 %}
                    <td><button class="btn btn-outline-primary">審核中</td>
                        <td><a href="{% url 'EditLicense' pk=license.id %}" class="btn btn-primary">編輯</a></td>
                    {% elif license.pazz == 2 %}
                        <td><button class="btn btn-danger">未通過</td>
                        <td><a href="{% url 'DeleteLicense' pk=license.id %}" class="btn btn-danger">刪除</a></td>
                    {% else %}
                        <td><button class="btn btn-primary">通過</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}